<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
{% extends 'base.html' %}Dashboard {% block title %}Dashboard{% endblock %} 
{% block content %}
<div class="jumbotron text-center bg-light" style= "padding-top: 0;">
  <h1 class="display-4" >Welcome {{ user.username }}</h1>
  <p class="lead">
    Great coders aren’t born, they’re crafted through persistence and curiosity. Keep coding, keep conquering
  </p>
  <hr class="my-4" />
  <p>
    Start solving coding challenges or view the leaderboard to see how you rank
    among others.
  </p>
  <a class="btn btn-primary btn-lg" href="{% url 'problem_list' %}" role="button">View Challenges</a>
  <a class="btn btn-secondary btn-lg" href="{% url 'leaderboard' %}" role="button">View Leaderboard</a
  >
</div>

<div class="row" >
<div class="col-lg-4">
  <div class="card text-center shadow-sm">
      <div class="card-body">
          <h5 class="card-title">Total Submissions</h5>
          <p class="card-text display-4">{{ total_submissions }}</p>
          <a href="{% url 'submissions-list' %}" class="btn btn-primary">View Submissions</a>
      </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="card text-center shadow-sm">
      <div class="card-body">
          <h5 class="card-title">Problems Solved</h5>
          <p class="card-text display-4">{{ problems_solved }}</p>
          <a href="{% url 'my_challenges' %}" class="btn btn-primary">View My Challenges</a>
      </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="card text-center shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Rank</h5>
      
      <p class="card-text display-5">
        #{{ rank }}
      </p>
      
    </div>
  </div>
</div>
</div>
{% endblock %}
